extends ../layout.pug

block content
    .contenedorMenu
        h2 Seleccionar la opcion de Distribucion que desea administrar
        a(href="distribucion/distribucionDepoNac/")  DISTRIBUCION DEPOSITO NACIONAL
        a(href="distribucion/distribucionDepoPro/")  DISTRIBUCION DEPOSITO PROVINCIAL
        a(href="distribucion/distribucionCentroVac/")  DISTRIBUCION CENTRO DE VACUNACION