extends ../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="./")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    .formulario
        h1.text-center AÑADIR NUEVO PACIENTE
        .container
            form.form(action="alta" method="post")
                .row.justify-content-between
                    .col-md-5
                        .form-group
                            label(for="dniPaciente") DNI:
                            input.form-control(type="number" name="dniPaciente" id="dniPaciente" placeholder="Ingresar DNI" required)
                        .form-group
                            label(for="nombre") NOMBRE:
                            input.form-control(type="text" name="nombre" id="nombre" placeholder="Ingresar Nombre" required)
                        .form-group
                            label(for="apellido") APELLIDO:
                            input.form-control(type="text" name="apellido" id="apellido" placeholder="Ingresar Apellido" required)
                        .form-group
                            label(for="fechaDeNacimiento") FECHA DE NACIMIENTO:
                            input.form-control(type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" required)
                        .form-group
                            label(for="genero") GENERO:
                            select.form-control(name="genero" id="genero" required)
                                option(value="masculino") Masculino
                                option(value="femenino") Femenino
                    .col-md-5
                        .form-group
                            label(for="mail") MAIL:
                            input.form-control(type="email" name="mail" id="mail" placeholder="Ingresar Email" required)
                        .form-group
                            label(for="provincia") PROVINCIA:
                            input.form-control(type="text" name="provincia" id="provincia" placeholder="Ingresar Provincia" required)
                        .form-group
                            label(for="localidad") LOCALIDAD:
                            input.form-control(type="text" name="localidad" id="localidad" placeholder="Ingresar Localidad" required)
                        .form-group
                            label(for="celular") CELULAR:
                            input.form-control(type="number" name="celular" id="celular" placeholder="Ingresar Numero de Celular" required)
                        .form-group
                            label(for="celularDeRespaldo") CELULAR DE RESPALDO
                            input.form-control(type="number" name="celularDeRespaldo" id="celularDeRespaldo" placeholder="Ingresar Numero de Respaldo")
                        .form-group
                            input.form-control.btn.btn-light(type="submit", value="Guardar")
                    